body {
  font: 14pt Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.always_visible {
  position: fixed;
  width: 100%;
  display: table;
  border-bottom: 1px solid #0000ff;
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background-color: #ff0000;
/*  height: 70px;*/
  vertical-align: middle;
/*  top: 10px;*/
/*  right: 10px;*/
  width: 100%;
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  clear: both;
}

.messages {
/*  margin-top: 70px;*/
  padding: 20px;
  padding-top: 100px;
}

.msg_date_str,
.handle_str {
  text-align: center;
  font-size: 0.8em;
}

.msg_day,
.handle {
  font-weight: bold;
}

.msg .imessage .not_from_me {
  background-color: blue;
}

.msg .sms .not_from_me {
  background-color: green;
}

.not_from_me p {
  width: 50%;
  float: right;
}

.message {
  padding-bottom: 15px;
}