<html>

<head>
  
  <link rel="stylesheet" type="text/css"
        href="static/style.css">
  
  <title>Conversation with {{ handle_str }}</title>
</head>

<body>

<div class="always_visible">
  <div class="header">Conversation with {{ handle_str }}</div>
</div>

</hr>

<div class="messages">
  {% for msg in messages %}
  <div class="message">
  {% if msg.get("show_handle", False) %}
    {{ msg["html_handle"] }}
  {% endif %}
  
  {% if msg.get("show_date", False) %}
    {{ msg.get("html_date", '')}}
  {% endif %}
  
  <div class="msg {{ msg['service'].lower() }}
              {% if msg['is_from_me'] %} from_me {% endif %}
              {% if not msg['is_from_me'] %} not_from_me {% endif %}">
    <p>{{ msg['text'].encode('ascii', 'xmlcharrefreplace') }}</p>
  </div>
  </div>
  {% endfor %}
</div>

</body>

</html>